<div id="menu">
    <ul class="nav">
        <li><a href="{{path('_inicio')}}">Inicio</a>

        </li>
        <li>
            
            <a href="{{path('_listaProducto')}}">Producto</a>
            

            <ul>
                <li>
                    <a href="#" >hola</a>
                </li>
                <li>
                    <a href="">hola</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="{{path('_listaCategoria')}}">Categoria</a>
            
        </li>
        <li><a href="{{path('_listaCustomers')}}">Customers</a>
            <ul>
                <li>
                    <a href="">hola</a>
                </li>
            </ul>
        </li>
    </ul>

</div>
<div style="clear: both;"></div>
