<div class="form_search">
    <form id="frm-buscar-documento">
    <div class="form-column-1">
        <table border="0" width=100% cellspacing="7px">
            <tr>
                <td colspan="2"><div class="center"><b>T&eacute;rmino a buscar</b></div></td>

            </tr>
            <tr>
                <td colspan="2"><div class="center"><input type="text" style="width:210px"></div></td>
            </tr>
            <tr>
                <td><label class="label"><input type="radio" name="opcion" checked>En la oficina</label></td>
                <td><label class="label"><input type="radio" name="opcion">Otra oficina</label></td>
            </tr>
        </table>
    </div>
    <div class="form-column-2">
        <table border="0" width=100% cellspacing="10px">
            <tr><td colspan="2"><div class="center"><b>Criterios de B&uacute;squeda</b></div></td></tr>
            <tr>
                <td><label><input type="checkbox">&nbsp;&nbsp;Todos</label></td>
                <td><label><input type="checkbox">&nbsp;&nbsp;Asunto</label></td>

            </tr>
            <tr>
                <td><label><input type="checkbox">&nbsp;&nbsp;Raz&oacute;n Social</label></td>
                <td><label><input type="checkbox">&nbsp;&nbsp;Ubicaci&oacute;n</label></td>
            </tr>
            <tr>
                <td><label><input type="checkbox">&nbsp;&nbsp;Aceptados</label></td>
                <td><label><input type="checkbox">&nbsp;&nbsp;No Aceptados</label></td>
            </tr>

        </table>
    
    </div>
    <div class="form-column-3">
    <table border="0" width=100% cellspacing="7px"> 
        <tr><td><div class="center"><b>Fechas</b></div></td></tr>
        <tr><td><div class="center"><input type="text" style="width:90px;" class="datepicker" value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/"></div></td></tr>
        <tr><td><div class="center"><input type="text" style="width:90px;" class="datepicker" value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/"></div></td></tr>
        <tr><td style="text-align: right;"><input type="button" class="buscar-data" id="" value="Buscar"></td></tr>
    </table>    
    </div>
    <div style="clear: both;"></div>        
</form>
</div>    