{% block stylesheet%} 
<style type="text/css">
        #window-busqueda{border: 1px solid #000000;width: 600px;padding: 10px;font-size: 12px;}    
        #window-busqueda legend{padding: 0px 10px;font-weight: bold}
        #window-busqueda table td{padding: 0px 5px}

        #grilla-empresa{font-size: 12px}
        
        .dataTables_length{margin-bottom: 5px;font-size: 12px;margin-top: 10px}
        .dataTables_filter{margin-bottom: 18px;font-size: 12px;margin-top: -20px}
        .paging_full_numbers{margin-top: -13px}
        .dataTables_info{margin-top: 15px}

        .icono{margin-left: 30px;}

    </style>

{% endblock%} 
{% block javascript%} 
    <script type="text/javascript">
        $(document).ready(function() {/*start jquery*/
                                
                $("#grilla-empresa").dataTable( {                    
                         "aaSorting": [[4,'asc']],
                         "bProcessing": true,
                         "bServerSide": true,
                         "sPaginationType": "full_numbers",
                         "oLanguage"	: {
                                 "oPaginate" : { 
                                         "sFirst" : "Primero",
                                         "sNext" : "Siguiente",
                                         "sPrevious" : "Anterior",
                                         "sLast" : "Ultimo"
                                 },
                                 "sInfo" : "_START_ a _END_ de _TOTAL_ registros",
                                 "sLengthMenu": "Mostrar _MENU_ registros",
                                 "sSearch": "Buscar: ",
                                 "sProcessing": "Procesando Informaci&oacute;n...",
                                 "sInfoFiltered": "(Filtrado de un total de _MAX_ registros)",
                                 "sZeroRecords": "No se encontro registros",
                                 "sInfoEmpty": "No hay registros para mostrar"

                         },

                         "iDisplayLength": 20,
                         "aLengthMenu": [ 10,20, 50, 100 ],
                         //"bJQueryUI" : true,
                         "sAjaxSource": "{{path('buscarempresadiac')}}",
                         /*
                         "fnServerParams": function ( aoData ) {
                                    aoData.push( { "name": "tipo_dependencia", "value": $("#seldepen").val()},{ "name": "cod_departamento", "value": $("#seldepa").val()},{ "name": "cod_servicio", "value": $("#selserv").val()},{ "name": "cod_indicador", "value": $("#selind").val()},{ "name": "cod_municipalidad", "value": $("#selmuni").val()} )
                         },
                         */
                         "fnCreatedRow" : function (nRow, aData, iDataIndex) { 
                                 //$(nRow.getElementsByTagName('td')[0]).attr("hidden","true");
                                 $(nRow.getElementsByTagName('td')[0]).css("display","none");
                         },

                         "fnHeaderCallback": function( nHead, aData, iStart, iEnd, aiDisplay ) {
                                 //$(nHead.getElementsByTagName('th')[0]).attr("hidden","true");
                                 $(nHead.getElementsByTagName('th')[0]).css("display","none");
                         }
                     });
                     
            });/*end jquery*/
            function agregar_empresa(id,empresa){
                           
                $("#txtempresa").val(empresa);
                $("#dialogEmpresa").dialog("close");
            }
                        
        </script>
{% endblock%} 
{%block panel1%} 

        <div style="width: 95%;height: 90%;margin: 5px auto;background: #ffffff;border:1px solid #000000;padding-top: 15px;">

            <div style="width: 80%; margin: 0 auto;margin-top: 10px">

                <table id="grilla-empresa" width="100%" >
                    <thead>
                        <tr>
                            <th width="0%" style="display: none">ID</th>
                            <th width="90%" style="text-align:left ">PERSONA NATURAL / JURÍDICA</th>
                            <th width="10%" >ACCIÓN</th>

                        </tr>
                    </thead> 

                    <tbody>
                        <tr>
                            <td style="display: none"></td>
                            <td></td>
                            <td align="center"></td>
                        </tr>
                    </tbody>           
                </table>
            </div>
        </div>



{% endblock%} 