{# empty Twig template #}


<div class="sitradoc">
    <div >
        <div class="navi">
            <a href="#">pmce1</a>
            >
            <a href="#">asociacion</a>
            >
            <a href="#" class="item-selec">Nuevo process</a>        </div>
        <div class="option">
            <div class="title"> Sistema PMCE </div>
            
            <div class="doc-type" >
                <a href="#"><div id="link_nuevo" class="item_menu">Nuevo</div></a>
                <a href="#"><div id="link_enProyecto" class="item_menu">En proyecto</div></a>
                <a href="#"><div id="link_paraFirmar" class="item_menu">Para firmar</div></a>
                <a href="#"><div id="link_vistoBueno" class="item_menu">Para visto bueno</div></a>
            </div>
            <div style="clear: both;"></div>

        </div>    

    </div>

</div>