<div style="padding:20px 20px;background-color: #ffffff;">
    <form action="{{path('_upload')}}" id="uploading-doc" method="post" ENCTYPE="multipart/form-data">
        <input type="hidden" name="id_docu" id="upload_id">
        <input type="file" id="pdf-doc" name="archivo" ><br>
        <div style="text-align: center; padding-top: 15px;"><input type="button" id="uploading-doc-Action" class="upload" value="Cargar Documento" /></div>
    </form>
</div>        