<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE pdf SYSTEM "%resources%/dtd/doctype.dtd">
<pdf>
    <dynamic-page>
        <placeholders>
            <header>
                <div height="55px" width="100%"   color="blue" text-align="center" font-style="bold" >
                 REPORTE PARA INFORME
                 <br></br><span color="black">  ANEXO N° 1 </span>
                </div>
                
            </header>
        </placeholders>
            
        <div>
            
            <div text-align="center"  font-style="bold" margin-top="20px" margin-bottom="20px">
               Cálculo de PMCE y LMCE
               <br></br>
               2da. TEMPORADA DE PESCA DE ANCHOVETA EN LA ZONA NORTE-CENTRO 2012
            </div>

 
            <div text-align="justify">
            </div>
                
                <div margin='5px'  padding-left="30px" >
                      <span font-style="bold">I. PMCE y LMCE asignados</span> 
                
                </div>  
            <table>
                <tr color="white" background-color="#004163"  font-style="bold" >
                    <td>Embarcación </td>
                    <td>Matrícula</td>
                    <td>Régimen</td>
                    <td>Capacidad de Bodega Neta Autorizada (M3)</td>
                    <td>Permiso de pesca</td>
                    <td  color="black" background-color="white">PMCE %</td>
                    <td  color="black" background-color="white">LMCE 1/ 2/ </td>
                </tr>
                <tr>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                </tr>
                <tr>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                </tr>
                <tr>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                </tr>
                <tr>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                </tr>
            </table>  
        </div>
 
              
        
        
         {% for row in info %}
                <tr>
                     <td>{{row.Title}}</td>
                     <td>{{row.Price}}</td>
                     <td>{{row.Number}}</td>
                    
                <!--     <td>{#{row.EMBARCACION}#}</td>
                    <td>{#{row.REGIMEN}#}</td>
                    <td>{#{row.porcentaje_aportacion}#}</td>
               --> 
                </tr>
        {% endfor %}
         
            
            
        </dynamic-page>
    </pdf>

