{# empty Twig template #}


<div class="sitradoc">
    <div class="head">
        <div class="navi">
            <a href="#">Inicio</a>
            >
            <a href="#">Documento</a>
            >
            <a href="#" class="item-selec">Nuevo Documento</a>
        </div>
        <div class="option">
            <div class="title">Sistema de Tr&aacute;mite Documentario - SITRADOC</div>
            <div class="botom">Doc. Digital</div>
            <div class="doc-type" >
                <a href="#"><div id="link_nuevo"class="item_menu">Nuevo</div></a>
                <a href="#"><div id="link_enProyecto" class="item_menu">En proyecto</div></a>
                <a href="#"><div id="link_paraFirmar" class="item_menu">Para firmar</div></a>
                <a href="#"><div id="link_vistoBueno" class="item_menu">Para visto bueno</div></a>
            </div>
            <div style="clear: both;"></div>

        </div>    

    </div>

</div>